@charset "UTF-8";
/* Reset all table styles */
table, tr, td, th {
    background-color: transparent !important;
    
    
}

th{
	
	width:200px;
	text-align:center;
	
	
	  border-style: solid;
}

td{
	width:200px;
	text-align:center;
	border-style: solid;
	border-width:2px;
	
}